/* Audio styles */

.audio-item {
	overflow: hidden;
	line-height: 42px;
	cursor: pointer;
	color: #66768F;
}

.audio-item:hover {
	background: rgba(228, 232, 234, .4);
}

.audio-right {
	float: right;
	padding-right: 14px;
}

.audio-control {
	margin-left: 4px;
	float: left;
	width: 42px;
	height: 42px;
}

.audio-content {
	padding-left: 14px;
	margin-left: 40px;
}

.audio-i {
	background-position: center;
	background-repeat: no-repeat;
	width: 42px;
	height: 42px;
	float: left;
}


.audio-radio-frequency {
	font-style: normal;
	color: rgb(136, 136, 136);
	font-size: 9px;
	vertical-align: top;
}