/* --- documents --- */

.doc-item,
.doc-a-wrap {
	overflow: hidden;
	display: block;
	outline: none;
	padding: 10px 14px;
	position: relative;
	transition: all .4s ease-in;
	color: #66768F;
	cursor: pointer;
}

.doc-item::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 78px;
	right: 0;
	display: block;
	border-bottom: 1px solid #F2F2F2;
}

.docs-size {
	font-size: 10px;
	color: #C1C1C1;
}

.doc-extension { /* 36 height, 52 width */
	float: left;
	width: 52px;
	text-align: center;
	border-radius: 3px;
	background: #F2F2F2;
	color: #66768F;
	font-weight: bold;
	font-size: 12px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 36px;
}

.doc-actions {
	position: absolute;
	right: 14px;
	background: rgba(255, 255, 255, .6);
	box-shadow: 0 0 4px 1px rgba(255, 255, 255, .6);
}

.doc-item:hover .doc-actions {
	display: block;
}

.mobile .doc-actions {
	display: none !important;
}

.doc-item:hover .doc-i {
	width: 36px;
}

.doc-info {
	margin-left: 64px;
}

.doc-info > * {
	line-height: 18px;
}

.doc-name {
	display: block;
	font-weight: 900;
	padding-right: 14px;
}

.doc-deleted {
	height: 0 !important;
	padding-top: 0;
	padding-bottom: 0;
}

.doc-i {
	width: 0;
	height: 36px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	opacity: .5;
	transition: .3s ease-in-out;
}

.doc-i:hover {
	opacity: 1;
}

.docs-saved {
	-webkit-animation: docUploaded 1s ease-out;
	-ms-animation: docUploaded 1s ease-out;
	animation: docUploaded 1s ease-out;
}

@-webkit-keyframes docUploaded{ from { background: #fff381; } to { background: transparent; } }
@-ms-keyframes docUploaded{ from { background: #fff381; } to { background: transparent; } }
@keyframes docUploaded{ from { background: #fff381; } to { background: transparent; } }

.doc-a-wrap {
	padding-left: 0;
}

.docs-item-dale {
	display: inline-block;
	width: 20%;
	padding: 5px 2.5%;
	overflow: hidden;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
	-webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
	text-align: center;
	position: relative;
}

.docs-item-dale strong {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	display: block;
}

.docs-ext-dale {
	width: 40%;
	text-align: center;
	border-radius: 3px;
	background: #E0E0E0;
	padding: 0 3px;
	font-size: 11px;
	overflow: hidden;
	line-height: 40px;
	display: inline-block;
	margin: 22px 0;
}

.docs-preview-dale {
	height: 85px;
	margin-bottom: 2px;
	line-height: 85px;
}

.docs-preview-dale img {
	border-radius: 3px;
	display: inline-block;
	vertical-align: middle;
	max-height: 100%;
	max-width: 100%;
}

.docs-item-dale .docs-delete {
	position: absolute;
	top: 2px;
	right: 2px;
	z-index: 999;
}

.doc-a-gif-preview {
	position: relative;
}

.doc-a-gif-title {
	position: absolute;
	background: rgba(0, 0, 0, .6);
	color: rgb(255, 255, 255);
	padding: 0 6px;
	line-height: 14px;
	bottom: 0;
	font-size: x-small;
	text-align: center;
}

.doc-a-gif-opened {
	width: auto;
	min-width: 130px;
	min-height: 95px;
	height: auto;
	display: inline-block;
	line-height: 0;
	position: relative;
	padding-right: 0;
}

.doc-a-gif-opened .doc-a-gif-preview {
	display: none;
}

.doc-a-gif-opened .doc-a-gif-fullview {
	display: block;
	max-width: 100%;
	position: relative;
}

.doc-a-gif-fullview img {
	max-width: 100%;
}

.doc-a-gif-opened .doc-i-more {
	width: 28px;
	height: 28px;
	border-radius: 3px;
	position: absolute;
	bottom: 3px;
	right: 3px;
	opacity: .5;
	background-color: rgba(0, 0, 0, .5);
	background-repeat: no-repeat;
	background-position: center;
	transition: .3s linear opacity;
}

.doc-a-gif-opened .doc-i-more:hover{
	opacity: .8;
}