/* ----- Mail ----- */



.mail-wrap {
	background: #ffffff;
}
.mail-list {
	position: relative;
	/* overflow: hidden; */
}
.mail-list-dropped {
	-webkit-transition: margin-top 300ms ease;
	-o-transition: margin-top 300ms ease;
	transition: margin-top 300ms ease;
}
.mail-item{
	overflow: hidden;
	display: block;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
	-webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
	outline: none !important;
	margin: 0 15px;
	border-bottom: 1px solid #E9ECEE;
	padding: 10px 0;
}
.mail-item:hover{
	background:rgb(242, 244, 247);
	margin:0 0px;
	border-top:1px solid #E9EBEC;
	padding:10px 15px;
	margin-top:-1px;
}
.mail-item .mail-left{
	height:44px;
}
.mail-left{
	float:left;
	width:44px;
	border-radius:3px;
}
.mail-right{
	margin-left: 55px;
	position: relative;
}
.mail-unread {
	position: absolute;
	right: 1px;
	top: 18px;
	padding: 3px 5px;
	background: #D5DDE5;
	border-radius: 2px;
	font-weight: 900;
}
.mail-date{
	float:right;
	color:#888888;
	font-size:10px;
}
.mail-text{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	padding:5px 6px;
}
.mail-text.mail-in{
	padding-left:0;
	vertical-align:top;
}
.search-highlight{
	background:yellow;
}
.mail-avamini{
	float:left;
	width:20px;
	vertical-align:middle;
	margin-right:8px;
	border-radius:2px;
}
.mail-info{
	margin-left:46px;
}
strong span{
	font-weight:normal;
}
.mail-content{
	padding:4px 0;
	overflow:hidden;
	line-height:1.25;
}
.mail-out{
	margin-left:26px;
}
.mail-content img{
	width:20px;
	border-radius:2px;
	float:left;
}
.mail-new{
	background: rgb(242, 244, 247);
	margin: 0 0px;
	border-top: 1px solid #E9EBEC;
	padding: 10px 15px;
	margin-top: -1px;
	-webkit-tap-highlight-color:rgba(255, 255, 255, 0) !important;
	-webkit-focus-ring-color:rgba(255, 255, 255, 0) !important;
	outline:none !important;
}
.mail-new-message{
	background: #F0F2F7;
	line-height: 20px;
	border-radius:3px;
}
.mail-content-item{
	padding:8px 12px;
}
.mail-actions{
	margin: 8px;
}
.mail-actions input[type=button] {
	margin-right: 8px;
}
.mail-dialogs-item{
	display:block;
	padding:6px 12px;
	border-top:1px solid #e0e0e0;
}
.mail-attachments {
	font-size: small;
	font-style: italic;
}

.mail-ts {
	width: 100%;
}
.mail-ts,
.mail-ts td {
	border-collapse: collapse;
}
.mail-tsrn,
.mail-tsrt,
.mail-tsrv {
	padding: 3px 6px;
	border: 1px solid #66768F;
}
.mail-tsrv {
	text-align: center;
	white-space: nowrap;
}
.mail-tsrn {
	text-align: right;
	max-width: 50px;
}
.mail-analyzer {
	max-width: 350px;
	margin: 0 auto;
}
.mail-analyzer .mail-process {
	padding: 10px 0;
}
.mail-analyzer-summary table {
	margin: 10px;
	border-collapse: collapse;
}
.mail-analyzer-summary td,
.mail-analyzer-summary th {
	line-height: 22px;
	padding: 0 10px;
	border: 1px solid rgb(95, 127, 186);
}
.mail-analyzer-summary th {
	text-align: left;
}



