/* ----- Videos.js ----- */

.videos-item {
	overflow: hidden;
	display: block;
	-webkit-tap-highlight-color: transparent;
	-webkit-focus-ring-color: transparent;
	outline: none;
	padding: 10px 15px;
	border-bottom: 1px solid #E9ECEE;
}

.videos-item:hover {
	background: rgb(242, 244, 247);
}

.videos-left,
.attachments-video-wrap {
	position: relative;
}

.videos-left {
	float: left;
	line-height: 0;
}
.videos-left img {
	width: 130px;
	height: 98px;
	border-radius: 3px;
	line-height: 0;
}

.videos-item-album .videos-left img {
	width: 65px;
	height: 49px;
}
.videos-left span {
	font-size: x-small;
	right: 0;
	bottom: 0;
	color: #fff;
	padding: 0 3px;
	margin: 2px;
	line-height: 16px;
}

.videos-right {
	margin-left: 140px;
}
.videos-item-album .videos-right {
	margin-left: 75px;
}
.videos-mark {
	color: gray;
}
.videos-tag-delete {
	vertical-align:-5px;
}
.video-footer {
	padding: 8px 14px;
}