.comments,
.comment-wrap {
	padding: 7px;
	border-top: 1px solid #E8E8E8;
	overflow: hidden;
	clear: both;
}
.comments:first-child,
.comment-wrap:first-child {
	border-top: none;
}
.comments-left,
.comment-left {
	float: left;
	display: block;
	line-height: 0;
}
.comments-left img,
.comment-left img {
	width: 40px;
	border-radius: 3px;
}
.comments-right,
.comment-right {
	margin-left: 40px;
	padding: 0 7px;
	word-wrap: break-word;
	overflow: hidden;
	/* ГРАДИЕНТ:ОТ #FFFFFF ДО #000000; */
	/* ЦВЕТ: КРАСНЫЙ КАК ДЖИГУРДА; */
	/* ПРИВЕТ ИЗ ИЮЛЯ 2013 ГОДА */

	/* НУ ПРИВЕТ, КОЛИ НЕ ШУТИШЬ */
	/* НА ДВОРЕ 6 ОКТЯБРЯ 2014 ГОДА */

	/* НУ ЧЁ, КАК ЖИЗНЬ? У ВАС СОЕДИНЕНИЕ */
	/* С ИНТЕРНЕТОМ, СЛУЧАЕМ, НЕ ПРОПАЛО? */
	/* Я ВАС ПРИВЕТСТВУЮ, СЕЙЧАС 18 СЕНТЯБРЯ 2015 ГОДА */

	/* ДРАТУТИ ИЗ 23 ОКТЯБРЯ 2016 ГОДА */
}
.comments-right-tooltip{
	position:absolute;
	top:15px;
	left:-5px;
}
.comments-right-info a,
.comment-head a {
	font-weight: 900;
}
.comments-content,
.comment-content {
	padding: 4px 0 4px;
}
.comments-date,
.comment-date {
	font-size: small;
	color: gray;
}
.comment-footer {
	line-height: 22px;
}
.comment-date {
	font-size: 12px;
	color: #888888;
}
.comments-footer-left{
	font-size:11px;
	color:gray;
	float:left;
}
.comments-footer-right{
	text-align:right;
	cursor:pointer;
}
.comments-attachments{
}
.comments-actions{
	clear:both;
}
.comments-actions a{
	font-size:11px;
	margin:0 5px;
}
.comments-actions a:first-child{
	margin-left:0;
}
.comments a:hover{
	text-decoration:underline;
}
.comments-content .sf-wrap{
	padding:6px 0 !important;
}
.comments-deleted {
	color: #888888;
}