/* --- groups list --- */

.groups-item {
	overflow: hidden;
	display: block;
	outline: none;
	border-bottom: 1px solid #E9ECEE;
	padding: 10px 15px;
}

.groups-item:hover{
	background: rgb(242, 244, 247);
}

.groups-left {
	float: left;
	width: 45px;
	border-radius: 3px;
}

.groups-right {
	margin-left: 52px;
}

.groups-right .tip {
	font-size: 12px;
}

.groups-right {
	line-height: 15px;
}

.groups-invite-actions {
	margin: 5px 0 0;
}

/* group page / not refactored*/

.group-left {
	float: left;
	width: 50px;
	margin: 10px;
	display: inline-block;
	border-radius: 3px;
}
.group-right{
	margin-left: 60px;
	padding: 10px 10px 4px;
}
.group-right input[type=button] {
	margin-right: 5px;
	margin-bottom: 3px;
}
.group-status {
	padding: 3px 0;
}
.group-info-item {
	padding: 4px 12px;
	clear: both;
}
.group-info-name {
	color: gray;
	float: left;
	padding-right: 5px;
}
.group-info-name:after {
	display: inline;
	content: ": ";
}
.group-info {
	overflow:hidden;
}