html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
}

strong {
	font-weight: 900;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

html, body, .wrap {
	height: 100%;
}

small.aboutBlocking,
.aboutBlocking a {
	color: #D8D8D8;
}

.aboutBlocking a {
	text-decoration: underline;
}

body {
	x-background: rgb(56, 69, 85);
	background: #333333;
	font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
}

input[type="button"],
input[type="submit"],
input[type="text"],
input[type="password"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

body a,
form li,
input[type="submit"],
input[type="button"] {
	-webkit-transition: .1s all;
	-moz-transition: .1s all;
	-o-transition: .1s all;
	transition: .1s all;
}

p {
	font-family: "Open Sans", sans-serif;
	margin: 0 0 12px;
	color: #D8D8D8;
	line-height: 1.42857;
}

.wrap {
	width: 85%;
	margin: 40px auto;

	display: flex;
	flex-flow: column nowrap;
}




/** заголовки у следующих шагов */
.wrap h2 {
	font-family: Lato, sans-serif;
	color: rgb(255, 255, 255);
	text-align: center;
	padding: 1em 0;
	font-size: 1.6em;
	font-weight: 300;
}


.aboutText {
	font-size: 16px;
}

/**
 * Logo
 */
figure {
	margin: 0 auto 20px;
	position: relative;
	max-width: 270px;
}

figure img {
	width: 100%;
}

figcaption {
	color: #dddddd;
	font-size: 13px;
	font-weight: bold;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
}

.slide-content {
	text-align: center;
}




.field-wrap {
	border: 1px solid #DADADA;
	text-align: left;
	margin: .7em 0;
	color: #ffffff;
	font-size: 12px;
}

.field-wrap label {
	display: block;
	color: #8f9399;
	font-size: 12px;
	line-height: 16px;
	padding: 3px 10px 0;
}

.field {
	flex: 1;
	padding: 0 10px;
	line-height: 38px;
	color: #ffffff;
	outline: none;
	border: none;
	font-weight: 500;
	font-family: 'Open Sans', sans-serif;
	background: transparent;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@media screen and (min-width: 860px) {
	.wrap {
		flex-direction: row;
		align-items: center;
		margin: 0 auto;
	}

	.slide-logo,
	.slide-content {
		padding: 0 10%;
	}

	.slide-logo {
		flex: 4;
	}

	.slide-content {
		border-left: 1px solid #4c4c4c;
		flex: 6;
	}

	.field-wrap {
		display: flex;
		flex-flow: row-reverse nowrap;
	}

	.field-wrap label {
		text-align: right;
		min-width: 170px;
		line-height: 38px;
		padding-top: 0;
	}
}


input[type="submit"],
input[type="button"] {
	font-size: 16px;
	color: #6383a8;
	cursor: pointer;
	outline: none;
	padding: 0 15px;
	line-height: 38px;
	border: 1px solid #6383a8;
	background: transparent;
	display: block;
	width: 100%;
}


input[type="submit"]:hover,
input[type="button"]:hover,
.loader-button {
	border-color: #0bd38a;
	color: #0bd38a;
}

.wrap .fields-nopadding {
	padding-left: 1em;
	background-image: none;
}



/**
 * Select app
 */
.selectApp {
	position: relative;
	padding: 0 !important;
}

.selectApp select {
	width: 100%;
	height: 38px;
	position: absolute;
	opacity: 0;
	line-height: 38px;
	display: block;
	left: 0;
}

#applicationName {
	padding-left: 10px;
	flex: 1;
	line-height: 38px;
}

#authCaptcha {
	display: flex;
	max-width: 260px;
	margin: 10px auto;
}

#captchaImage {
	min-width: 130px;
}

#captchaKey {
	flex: 1;
	border: 1px solid #ffffff;
	max-width: 130px;
}

#validationCode {
	border: 1px solid #ffffff;
	margin-bottom: 1em;
	text-align: center;
}



.hidden {
	display: none !important;
}

.error {
	-webkit-animation: 5s errorAnimation 1 ease-in-out;
	animation: 5s errorAnimation 1 ease-in-out;
	display: block;
	height: 0;
	background: rgb(235, 204, 204);
}
@-webkit-keyframes errorAnimation {
	0%, 100% {
		height: 0;
		opacity: 0;
		padding: 0 12px;
		margin-top: 0;
	}

	10%,
	90% {
		height: 20px;
		opacity: 1;
		padding: 8px 12px;
		margin-top: .7em;
	}
}
@keyframes errorAnimation {
	0%, 100% {
		height: 0;
		opacity: 0;
		padding: 0 12px;
		margin-top: 0;
	}
	10%,
	90% {
		height: 20px;
		opacity: 1;
		padding: 8px 12px;
		margin-top: .7em;
	}
}


.text-footer {
	margin-top: 15px;
}

footer {
	margin: 10px 0;
	color: gray;
	font-size: .8em;
}