/* --- notes --- */

.note-head {
	padding: 8px 14px;
	overflow: hidden;
}

.note-head img {
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 2px
}

.note-head div {
	margin-left: 40px;
	padding-left: 8px;
}

.note-head a {
	font-weight: 900;
	font-size: 13px;
	display: block;
	line-height: 20px;
}

.note-head span {
	color: #888888;
	font-size: 11.5px;
	display: block;
	line-height: 20px;
}

.note-content {
	padding: 6px 14px 10px;
}

.note-edit-text {
	min-height: 200px !important;
	resize: vertical;
}