.poll-wrap {
	position: relative;
}

.poll-top {
	line-height: 35px;
	padding: 0 10px;
}

.poll-top strong {
	font-size: 16px;
}

.poll-option {
	line-height: 30px;
	padding: 0 8px;
	margin: 4px 8px;
	position: relative;
	background: rgba(95, 127, 186, .05);
	border-radius: 3px;
	overflow: hidden;
}

.poll-option-info {
	position: relative;
	z-index: 10;
	color: black;
}

.poll-line-in {
	width: 0;
	background: rgba(95, 127, 186, .4);
	height: 30px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.poll-line-count {
	font-size: small;
	cursor: pointer;
}

.poll-removeVote {
	float: right;
	line-height: 30px;
	padding: 0 14px;
	border: 1px solid rgba(95, 127, 186, .2);
	border-radius: 3px;
	margin: 5px 0 0;
}

.poll-updater {
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -15px;
	width: 300px;
	height: 20px;
	position: absolute;
	background: #999999;
	color: #ffffff;
	z-index: 90;
	text-align: center;
	padding: 5px 0;
	border-radius: 5px;
}

.poll-selected {
	font-weight: 900;
}

.poll-selected::before {
	content: "> ";
	display: inline;
}

.polls-create-item {
	margin-right: 20px;
}

.polls-create-item-delete {
	border: none;
	padding: 10px !important;
	z-index: 9999;
	position: absolute;
	right: 11px;
}