/* Like button */

.vklike-wrap {
	border-radius: 2px;
	cursor: pointer;
	overflow: hidden;
	float: left;
}

.vklike-wrap-right {
	float: right;
}

.vklike-label {
	padding: 5px 0 5px 6px;
	float: left;
}

.vklike-count {
	float: right;
	padding: 5px 6px 5px 0;
	font-weight: 900;
}

.vklike-count:empty {
	display: none;
}

.vklike-icon-wrap {
	display: block;
	margin: 0 8px;
	float: left;
}

.vklike-icon {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 8px;
	height: 8px;
	background: rgb(86, 124, 164);
	position: relative;
	opacity: .4;
	margin: 10px 0 0;
	border-radius: 2px;
}

.vklike-icon::after,
.vklike-icon::before {
	content: "";
	border-radius: 4px;
	background: rgb(86, 124, 164);
	width: 8px;
	height: 8px;
	display: block;
	position: absolute;
}

.vklike-icon::after {
	top: -4px;
}

.vklike-icon::before {
	left: -4px;
}

.vklike-label,
.vklike-count {
	color: rgb(102, 118, 143) !important;
}

.vklike-active .vklike-icon {
	opacity: 1;
}

.vklike-wrap:hover {
	background: rgba(168, 187, 207, .3);
}

.vklike-repost-icon,
.vklike-comment-icon {
	display: block;
	margin: 0 6px 0 8px;
	float: left;
	width: 14px;
	height: 20px;
	-webkit-background-size: contain;
	background-size: contain;
	opacity: .4;
}

.vklike-active .vklike-repost-icon {
	opacity: 1;
}

.vklike-comment-icon {
}

@media screen and (max-width: 512px) {
	.vkrepost-wrap .vklike-label {
		display: none;
	}

	.vkrepost-wrap {
		height: 22px;
	}
}