<?
	$pagePrefix = "login";
?><!DOCTYPE html>
<html lang="ru-RU">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=yes" />
		<meta name="theme-color" content="#5F7FBA" />
		<meta http-equiv="Cache-Control" content="no-cache" />
		<meta http-equiv="cleartype" content="on" />
		<meta http-equiv="msthemecompatible" content="no" />
		<meta http-equiv="imagetoolbar" content="no" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="format-detection" content="address=no" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="application-name" content="APIdog" />
		<meta name="msapplication-tooltip" content="Неофициальный клиент ВКонтакте offline" />
		<title><?=getLabel("_headTitle");?></title>
		<link rel="stylesheet" href="auth/auth.css" />
		<link rel="icon" href="favicon.png?1" />
		<link rel="shortcut icon" href="favicon.png?1" />
		<script src="auth/auth.js"></script>
	</head>
	<body id="main">
		<div id="background"></div>
		<div id="contents">

			<header>
				<section class="wrap">
					<nav>
						<a href="blog.php"><?=getLabel("menuBlog");?></a>
						<a href="about.php"><?=getLabel("menuAbout");?></a>
						<a href="./"><?=getLabel("menuLogin");?></a>
					</nav>
					<img src="icons/apidog-logo.svg" class="logo" alt="APIdog" />
				</section>
			</header>

			<main>
				<section class="wrap">
					<form
						onsubmit="authorize(this, event); return false;"
						action="#"
						method="post">
						<div id="authSimple">
							<h1><?=getLabel("_formTitle");?></h1>
							<input
								type="text"
								name="username"
								placeholder="<?=getLabel("_fieldLogin");?>"
								/>
							<input
								type="password"
								name="password"
								placeholder="<?=getLabel("_fieldPassword");?>"
								/>
							<div class="fields select-wrap">
								<select
									class="select"
									name="application"
									onchange="changeApplicationName(this);">
									<option value="1" selected>Android</option>
									<option value="2">iPhone</option>
									<option value="3">iPad</option>
									<option value="4">Windows Phone</option>
									<option value="6">Windows</option>
									<option value="8">BlackBerry (Vika)</option>
									<option value="9">Snapster Android</option>
									<option value="10">Kate Mobile</option>
								</select>
								<div class="select-arrow">▼</div>
								<div class="pseudoselect-label" id="applicationName">Android</div>
							</div>
						</div>

						<div id="authCaptcha" class="hidden">
							<h1><?=getLabel("_captchaTitle");?></h1>
							<input
								type="hidden"
								name="captchaId"
								id="captchaId"
								value=""
								/>
							<img
								src="about:blank"
								alt=""
								id="captchaImage"
								onclick="setCaptchaImage(this);"
								onerror="onErrorCaptcha(this);"
								/>
							<input
								type="text"
								class="fields fields-nopadding"
								name="captchaKey"
								id="captchaKey"
								value=""
								autocomplete="off"
								/>
						</div>
						<div id="authValidation" class="hidden">
							<h1><?=getLabel("_confirmTitle");?></h1>
							<p><?=getLabel("_confirmText");?></p>
							<input
								type="hidden"
								name="validationId"
								id="validationId"
								value=""
								/>
							<div>
								<input
									type="button"
									value="<?=getLabel("_confirmSendSMS");?>"
									id="submitSms"
									onclick="sendValidationSMS(this);"
									/>
								<div class="loader-svg"></div>
							</div>
							<div id="validationForm" class="hidden">
								<input
									type="text"
									class="fields"
									value=""
									name="validationCode"
									id="validationCode"
									/>
							</div>
						</div>
						<div class="xbutton">
							<input
								type="submit"
								id="submitMain"
								value="<?=getLabel("_submit");?>"
								/>
							<div class="loader-svg"></div>
						</div>
						<div class="hidden" id="errorBlock"></div>
					</form>

					<div class="text"><?

	$items = getLabel("_tips");

	foreach ($items as $item) {
		list($title, $text) = explode("|", $item);
?>
						<div class="slide">
							<h1><?=$title;?></h1>
							<p><?=$text;?></p>
						</div>
<?
	}
					?></div>
				</section>
			</main>

			<footer>
				<section>
					<p><?=getLabel("footer");?></p>
				</section>
			</footer>

		</div>
		<noscript><img src="//mc.yandex.ru/watch/19029880" style="position:absolute; left:-9999px;" alt="" /></noscript>
		<script>(function (d,w,c){(w[c]=w[c]||[]).push(function(){try{w.yaCounter19029880=new Ya.Metrika({id:19029880,trackHash:!0})}catch(e){}});var n=d.getElementsByTagName("script")[0],s=d.createElement("script"),f=function(){n.parentNode.insertBefore(s,n);};s.type="text/javascript";s.async=!0;s.src=(d.location.protocol=="https:"?"https:":"http:")+"//mc.yandex.ru/metrika/watch.js";if(w.opera=="[object Opera]")d.addEventListener("DOMContentLoaded",f,!1);else f()})(document,window,"yandex_metrika_callbacks");(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create','UA-73434682-1',{'sampleRate':5});ga('send','pageview');</script>
	</body>
</html><!-- APIdog Corp. --><!-- Have fun since 8 august 2012 until now! -->
