@import url('font-awesome.min.css');


html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video, main {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	margin:0;
	padding:0;
	font-family:Lucida,verdana,tahoma,arial,sans-serif,Lucida Sans;
	/* line-height:1.4; */
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	position: relative;
}

.hidden {
	display: none;
}

#background {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-image: url(http://cs625127.vk.me/v625127942/3f8e8/7wK91w9ZGYw.jpg);
	background-size: cover;
	background-position: center;
	z-index: -10;
}

main {
	overflow: hidden;
}

#contents {
	background: rgba(0, 0, 0, .2);
	min-height: 100%;
	overflow: hidden;
}

header {
	background: rgba(0, 0, 0, .3);
	padding: 5px 20px;
	overflow: hidden;
	line-height: 50px;
}

.wrap {
	max-width: 1200px;
	margin: 0 auto
}

header .logo {
	width: 150px;
	vertical-align: middle;
}

header nav {
	float: right;
	color: rgb(255, 255, 255);
}

header nav a {
	text-decoration: none;
	color: inherit;
	display: block;
	padding: 0 12px;
	float: right;
}

main {
	padding: 20px;
}

.text,
form {
	background: rgba(0, 0, 0, .3);
	padding: 16px;
	color: rgb(255, 255, 255);
}

form {
	float: right;
    width: 40%;
    max-width: 450px;
    text-align: center;
}

form input[type=text],
form input[type=password],
.select-wrap {
	width: 100%;
	border: 1px solid rgba(0, 0, 0, .1);
	background: rgba(255, 255, 255, .7);
	line-height: 32px;
	padding: 0 8px;
	margin-bottom: 12px;
	text-align: center;
	font-size: 16px;
	border-radius: 2px;
}

.select-wrap {
	position: relative;
	color: rgb(0, 0, 0);
}

.select-arrow {
	position: absolute;
	right: 8px;
	z-index: 9;
}

select {
	opacity: 0;
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}




.text {
	width: 58%;
}

h1 {
	line-height: 50px;
	font-size: 32px;
	margin-bottom: 12px;
}





@media screen and (max-width: 880px) {
	form {
		float: none;
		width: 70%;
		max-width: 100%;
		margin: auto;
	}

	.text {
		width: 70%;
		margin: 40px auto;
	}
}



.xbutton {
	position: relative;
	display: inline-block;
	margin: 0 auto;
	cursor: pointer;
}

.xbutton input {
	background: rgba(0, 0, 0, .6);
	color: rgb(255, 255, 255);
	line-height: 40px;
	padding: 0 16px;
	font-size: 16px;
	border: none;
	border-radius: 2px;
}

.xbutton .loader-svg {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -18px 0 0 -18px;
	display: none;
}

.xbutton input:disabled {
	color: transparent;
}

.xbutton input:disabled + .loader-svg {
	display: block !important;
}
.xbutton input:disabled,
.xbutton input:disabled + .loader-svg {
	cursor: progress;
}









.loader-svg {
	background-image: url("data:image/svg+xml,%3Csvg height=%2226%22 width=%2226%22 class=%22progress-arc%22 viewport=%220 0 100 100%22 version=%221.1%22 xmlns=%22http://www.w3.org/2000/svg%22%3E%3Cdefs%3E%3ClinearGradient id=%22int%22 x1=%220%25%22 y1=%220%25%22 x2=%22100%25%22 y2=%220%25%22%3E%3Cstop offset=%220%25%22 stop-opacity=%221%22 stop-color=%22%23FFF%22%3E%3C/stop%3E%3Cstop offset=%2260%25%22 stop-opacity=%221%22 stop-color=%22%23FFF%22%3E%3C/stop%3E%3Cstop offset=%22100%25%22 stop-opacity=%220%22 stop-color=%22%23FFF%22%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Ccircle style=%22stroke: url%28'%23int'%29 none;%22 r=%2211.5%22 cy=%2213%22 cx=%2213%22 stroke=%22%23FFF%22 stroke-width=%223%22 stroke-dasharray=%2231.7929, 40.4637%22 stroke-dashoffset=%220%22 transform-origin=%22center center%22 fill=%22transparent%22%3E%3C/circle%3E%3C/svg%3E");
	width: 36px;
	height: 36px;
	background-size: 36px;
	margin: 0 auto;
	-webkit-animation: loaderRound .8s linear infinite;
	-ms-animation: loaderRound .8s linear infinite;
	animation: loaderRound .8s linear infinite;
}

@-webkit-keyframes loaderRound {
	0% {transform: rotate(0deg); -webkit-transform: rotate(0deg);}
	100% {transform: rotate(360deg); -webkit-transform: rotate(360deg);}
}
@-moz-keyframes loaderRound {
	0% {-moz-transform: rotate(0deg);}
	100% {-moz-transform: rotate(360deg);}
}
@-ms-keyframes loaderRound {
	0% {transform: rotate(0deg); -ms-transform: rotate(0deg);}
	100% {transform: rotate(360deg); -ms-transform: rotate(360deg);}
}
@keyframes loaderRound {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}



.error {
	-webkit-animation: 5s errorAnimation 1 ease-in-out;
	-o-animation: 5s errorAnimation 1 ease-in-out;
	animation: 5s errorAnimation 1 ease-in-out;
	display: block;
	height: 0;
	margin-top: 8px;
	background:rgb(235, 204, 204);
	line-height: 18px;
	color: rgb(0, 0, 0);
}

@-webkit-keyframes errorAnimation {
	0%, 100% {
		height: 0;
		opacity: 0;
		padding: 0 12px;
	}

	10%, 90% {
		height: 36px;
		opacity: 1;
		padding: 8px 12px;
	}
}
@-moz-keyframes errorAnimation {
	0%, 100% {
		height: 0;
		opacity: 0;
		padding: 0 12px;
	}

	10%, 90% {
		height: 36px;
		opacity: 1;
		padding: 8px 12px;
	}
}
@-ms-keyframes errorAnimation {
	0%, 100% {
		height: 0;
		opacity: 0;
		padding: 0 12px;
	}

	10%, 90% {
		height: 36px;
		opacity: 1;
		padding: 8px 12px;
	}
}
@keyframes errorAnimation {
	0%, 100% {
		height: 0;
		opacity: 0;
		padding: 0 12px;
	}

	10%, 90% {
		height: 36px;
		opacity: 1;
		padding: 8px 12px;
	}
}









footer {
	text-align: center;
	font-size: x-small;
	color: rgba(255, 255, 255, .8);
	margin: 10px 0;
}